<ul style="height:40px;list-style:none;margin:0;padding:0;">
	<li style="float:left;">
		<a id="s-twitter" class="twitter-share-button"> </a></li>
	<li style="float:left;">
		<div id="s-facebook" class="fb-like" style="margin-right:40px;">
			 </div>
	</li>
	<li style="float:left;">
		<div id="vk_like">
			 </div>
	</li>
	<li style="float:left;margin-right:10px;">
		<div id="s-google" class="g-plusone">
			 </div>
	</li>
</ul>